<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.wxiaoqi.security.things.mapper.TotilWashInfoMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.github.wxiaoqi.security.things.entity.TotilWashInfo" id="totilWashInfoMap">
        <result property="dtuId" column="dtu_id"/>
        <result property="totilId" column="totil_id"/>
        <result property="todayWashTimes" column="today_wash_times"/>
        <result property="accumulateTimes" column="accumulate_times"/>
        <result property="yesterdayCashTimes" column="yesterday_cash_times"/>
        <result property="gatherTime" column="gather_time"/>
        <result property="createTime" column="create_time"/>
    </resultMap>


    <resultMap type="com.github.wxiaoqi.security.things.vo.TotilWashYearMonthVo" id="totilWashYearMonthVoMap">
        <result property="gatherTime" column="gatherTime"/>
        <result property="totalNum" column="totalNum"/>
    </resultMap>


    <!-- 能耗分析报表,查询当月每日数据 -->
    <select id="getTotilWashYearMonthDay" resultMap="totilWashYearMonthVoMap" parameterType="java.lang.String">
		SELECT
          DATE_FORMAT(gather_time, '%Y-%m-%d') AS gatherTime,
          SUM(accumulate_times) AS totalNum
        FROM
          totil_wash_info
          WHERE 1=1
            <if test="_parameter != null">
                AND DATE_FORMAT(gather_time, '%Y-%m') = #{date}
            </if>
        GROUP BY gatherTime
        ORDER BY gatherTime ASC
	</select>


    <!-- 能耗分析报表,查询当年每月数据 -->
    <select id="getTotilWashYearMonth" resultMap="totilWashYearMonthVoMap" parameterType="java.lang.String">
		SELECT
          DATE_FORMAT(gather_time, '%Y-%m') AS gatherTime,
          SUM(accumulate_times) AS totalNum
        FROM
          totil_wash_info
          WHERE 1=1
            <if test="_parameter != null">
                AND DATE_FORMAT(gather_time, '%Y') = #{date}
            </if>
        GROUP BY gatherTime
        ORDER BY gatherTime ASC
	</select>


</mapper>